.App {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.item img {
  width: 100%;
}

.item {
  /* flex: 1;
  flex-basis: 100px; */
  padding: 10px;
  position: relative;
  /* border: 1px solid black; */
  overflow: hidden;
}

.overlay {
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  opacity: 0.6;
  background-color: black;
}

.item:hover .overlay {
  opacity: .8;
  bottom: 0;
}

.overlay h1 {
  color: white;
}

/* @media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
} */