.App {
  text-align: center;
}

img {
  width: 25%;
}

.container {
  display: flex;
  width: 70%;
  background-color: lightblue;
  margin: auto;
}

.item {
  flex: 1;
  padding: 15px;
  margin: 30px;
}